.p-contact {
  &__text {
    padding-top: $space--s;
    padding-bottom: $space--l;
    @include mq() {
      font-size: $font-size--m;
    }
  }
  &__account {
    display: inline-block;
    padding: 8px 15px 10px 15px;
    margin: $space--m auto;
    border-top: 1px solid $bg-color--main;
    border-bottom: 1px solid $bg-color--main;
  }
  &__fa {
    padding-right: 10px;
    padding-left: 5px;
  }
}
